NEXT_PUBLIC_SITE_URL=https://nurdakhil.com
NEXT_PUBLIC_API_URL=https://apinurdakhil.com
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_SNAP_PIXEL_ID=
NEXT_PUBLIC_UPSELL_TIMER_SECONDS=15
